$main_font-family: Roboto, sans-serif;
$main_text-transform: uppercase;
$main_color: #016699;
$main-color-light: lighten($main_color,5%);
$main-color-dark: darken($main_color,5%);
$gray-light: #dee2e2;
$gray: rgb(112, 112, 112);
$white: #ffffff;