.dashboard {
    position: relative;
    aside {
        @include span(9 of 12);
        position: absolute;
        display: none;
        border-right: 1px solid $main_color;
        background-color: $gray;
        z-index: 2;
        overflow: hidden;
        min-height: 900px;
        @include transition-time(0.5s, ease-in-out);

        @include breakpoint($bp_tablet){
            @include span(6 of 12);
        }
        
        @include breakpoint($bp_desktop){
            @include span(3 of 12);
            display: block;
            position: relative;
        }

        .site-branding {
            width: 100%;
            background-color: #fff;
            a {
                display: block;
                img {
                    display: block;
                    width: 100%
                }
            }
        }

        ul {
            display: block;
            li {
                display: block;
                list-style: none;
                a {
                    display: block;
                    text-align: left;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    @include transition-time(0.5s, ease-in-out);
                    @include link-style($white, $white);
                    border-bottom: 1px solid $main_color;
                }   
            }
        }
    }

    main {
        @include span(12 of 12 );

        @include breakpoint($bp_tablet){
            @include span(12 of 12 );
        }
        @include breakpoint($bp_desktop){
            @include span(9 of 12 last);
        }
        .posts {
            padding: 10px;
            .post {
                margin: 0;
                @include breakpoint($bp_tablet){
                    padding: 10px;
                }
                @include breakpoint($bp_desktop){
                    // margin: 10px;
                }
                
            }
        }
    }
}