.dashboard{
    aside{
        @include span(3 of 12);
        border-right: 1px solid $main_color;
        overflow: hidden;
        min-height: 600px;
        .site-branding{
            width: 100%;
            a{
                display: block;
                img{
                    display: block;
                    width: 100%
                }
            }
        }
        ul {
            background-color: $gray;
            display: block;
            li {
                display: block;
                list-style: none;
                
                a {
                    display: block;
                    border: 1px solid $main_color;
                    text-align: left;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    @include transition-time(0.5s, ease-in-out);
                    @include link-style($white, $white);
                }
            }
        }
    }
    main{
        @include span(9 of 12 last);
        .posts{
            padding-top: 10px;
            @include span (12 of 12);
            .post{
                @include span (6 of 12);
                margin: 0px 10px 20px 0;
            }
        }
    }
}