// header {
//     nav {
//         background-color: #363636;
//         .container {
//             width: $main_width;
//             height: 100px;
//             margin: auto;
//             .brand-container {
//                 @include span(5 of 12);
//             }
//             .menu-container {
//                 @include span(7 of 12 last);
//                 line-height: 4;
//                 ul {
//                     float: right;
//                     li {
//                         display: inline-block;
//                         list-style: none;
//                         @include transition-time(0.5s, ease-in-out);
//                         &:hover{
//                             background-color: $main_color;
//                         }
//                         a {
//                             display: block;
//                             text-align: center;
//                             padding: 14px 16px;
//                             text-decoration: none;
//                             font-size: 17px;
//                             @include link-style(#fff, #fff);
//                         }
//                     }
//                     ul {
//                         display: none;
//                         li {
//                             display: block
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

footer {
    background: #363636;
    @include span(12 of 12);

    .reachus {
        

        @include breakpoint ($bp_tablet){
            @include span(6 of 12);
        }
        @include breakpoint ($bp_tablet){
            @include span(4 of 12);
        }
        color: #FFF;
    }

    .latest-posts {
        @include breakpoint ($bp_tablet){
            @include span(6 of 12 last);
        }
        @include breakpoint ($bp_tablet){
            @include span(4 of 12);
        }
        color: #FFF;
    }

    .locat-us {
        @include breakpoint ($bp_tablet){
            @include span(12 of 12);
        }
        @include breakpoint ($bp_tablet){
            @include span(4 of 12 last);
        }
        color: #FFF;
    }
}