.posts{
    .post{
        @include span(12 of 12);
        @include breakpoint($bp-tablet){
            @include span (6 of 12 last);
        }
        @include breakpoint($bp-desktop){
            @include span (4 of 12 last);
        }
        a{
            @include link-style($main_color, #fff);
            img{
                width: 100%;
                max-height: 500px;
            }
            h3{
                font-weight: 500
            }
            
        }
    }
}